# Cache and logs (Symfony2)
/elephantly/app/cache/*
/elephantly/app/logs/*
!/elephantly/app/cache/.gitkeep
!/elephantly/app/logs/.gitkeep

# Email spool folder
/elephantly/app/spool/*

# Cache, session files and logs (Symfony3)
/elephantly/var/cache/*
/elephantly/var/logs/*
/elephantly/var/sessions/*
/elephantly!var/cache/.gitkeep
!/elephantly/var/logs/.gitkeep
!/elephantly/var/sessions/.gitkeep

# Parameters
/elephantly/app/config/parameters.yml
/elephantly/app/config/parameters.ini

# Managed by Composer
/elephantly/app/bootstrap.php.cache
/elephantly/var/bootstrap.php.cache
/elephantly/bin/*
!/elephantly/bin/console
!/elephantly/bin/symfony_requirements
/elephantly/vendor/

# Assets and user uploads
/elephantly/web/bundles/
/elephantly/web/uploads/

# Assets managed by Bower
/elephantly/web/assets/vendor/

# PHPUnit
/elephantly/app/phpunit.xml
/elephantly/phpunit.xml

# Build data
/elephantly/build/

# Composer PHAR
/elephantly/composer.phar

# Backup entities generated with doctrine:generate:entities command
/elephantly/src/*/Entity/*~

# Project folder (other git repo)
/elephantly/src/Elphtly/